<router-outlet></router-outlet>
<!-- <html>
  <head>
    <title>Check Distance</title>
    <link href="app.component.css"/>

  </head>
  

  <body>
    <h5 style="font-family: Open Sans Hebrew;"> מוצא</h5>
    <br>
    <input type="text" name="source"/>
    <br>
    <h5 style="font-family: Open Sans Hebrew;">יעד</h5>
    <br>

    <input type="text" name="destination"/>
    <br>
    <button  style="font-family: Open Sans Hebrew; background-color: #e01e4c; color: white;" onclick="">הצג את המרחק</button>
    <br>
    <button  style="font-family: Open Sans Hebrew; background-color: #ffc000; color: white;" onclick=""> סיום</button>
    <h5>המרחק</h5>
    <h5>המרחק הפופולרי ביותר</h5>
    Open Sans Hebrew
    <br>
    <strong>Open Sans Hebrew Extra Bold</strong>    
  </body>
</html> -->